.nav {
    
    padding-right: 8vmin;
}

.nav--a:hover {
    color: teal;
}
.nav--item:hover {
    color: black;
}
.nav a {
    text-decoration-line: none;
    
}
.nav--a {
    color: black;
}
.header__nav {
    float: right;
    margin-top: 3vmin;
}
.header__nav--ul {
    display: flex;
}
.header__logo--img {
    width: 20vmin;
    height: 4vmin;
    margin: 3vmin 3vmin 3vmin 20vmin;
}

.header__banner {
    clear: both; 
    background: url(images/slider.jpg);
    background-position-y: -70px;
    background-size: 100%;
    background-repeat: no-repeat;
    
} 
.share {
    background-color: black;
    opacity: 0.6;
    color: white;
} 

.header__banner h1 {
    text-align: center;
    padding: 10vmin 10vmin 5vmin 10vmin;
    font-family: sans-serif;
    font-size: 3em;
   
}
.header__banner p {
    display: block;
    margin: 0 20vmin 0 20vmin;
    padding: 2vmin;
    line-height: 5vmin;
}
.header__banner h5 {
    padding: 5vmin;
}

.nav--item {
    color: teal;
    border: teal solid 1px;
    padding: 0.5vmin 2.5vmin 0.5vmin 2.5vmin;
}
.address__event {
    padding: 5vmin 5vmin 3vmin 30vmin;
    
}
.address__event span {
    color: teal;
}
.a1 {
    background-color: rgb(235, 231, 231);
}

button {
    border: teal solid 1px;
    color: teal;
    background-color: white;
    padding: 10px;
}

.register a {
    text-decoration-line: none;
}
.register__btn {
    margin-left: 30vmin; 
    margin-top: 5vmin; 
    background-color: teal;
    color: white;
    
}
.get__involved {
    font-size: 30px;
    margin: 5vmin 0 3vmin 0;
}
.involved__meetup {
    margin: 30px;
}
.involved__meetup img {
    width: 100px;
    height: 100px;
    
}
.involved__meetup h5 {
    margin: 20px;
}
.mission {
    width: 100%;
    background-color: rgb(235, 231, 231);
    padding-top: 2vmin;
    
}
.mission__p {
    font-size: 30px;
    padding: 2vmin;
    
}
.mission h6 {
    padding-bottom: 0;
}

.mission2 i {
color: rgb(72, 216, 226);
font-SIZE: 80px;
padding: 5vmin;
}
.mission2 p {
    padding: 2vmin;
}
.mission2 h5 {
    color: rgb(72, 216, 226);
}
footer {
    width: 100%;
    background-color: rgb(124, 120, 120);
    padding: 1.5vmin;
}
footer span {
    color: rgb(12, 88, 88);
}
