<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="demo2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <header class="header">
        <div class="header__top">
            <a href="#" class="header__logo">
                <img class="header__logo--img" src="images 2/logo.png" alt="">
            </a>
            <nav class="header__nav">
                <ul class="header__nav--ul">
                    <li class="nav">
                        <a href="#" class="nav--a">ABOUT OPEN CHARITY</a>
                    </li>
                    <li class="nav">
                        <a href="#" class="nav--a">THE BLOG</a>
                    </li>
                    <li class="nav">
                        <a href="#" class="nav--item">JOIN US</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__banner text-center">
            <div class="share">
                <h1>SHARING IDEAS FOR CHARITIES</h1>
                <p class="header__banner--p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati praesentium veniam quibusd iusto dignissimos aliquid.ium veniam quibusd iusto dignissimos ali onsectetur adipisicing elit. Obcaecati praesentium veniam quib</p>
                <p class="header__banner--p">am? Eius nobis libero tempore voluptate sed quia asperiores voluptas debitis quod reiciendis, amet, temporibus, earum ium veniam quibusd iusto dignissimos ali</p>
                <h5 class="header__banner--h5">Together we can make a bigger difference</h5>
            </div>
        </div>
    </header>

    <main>
        <div class="container-fluid a1">
            <div class="d-flex flex-wrap justify-content-center a1__address">
                <div class="address__event col-md-7 col-sm-12">
                    <h6><span>Next Event:</span> June 23 rd 2016 18:30-21:00</h6>
                    <p>Cancer Research UK, Angel Buiding, 407 st john Street</p>
                </div>
                <div class="register col-sm-12 col-md-5">
                    <button class="register__btn ">REGISTER</button>
                </div>
            </div>
        </div>
        <div class="involved">
            <p class="text-center p-8 get__involved">GET INVOLVED</p>
            <div class="d-flex flex-wrap justify-content-center">
                <div class="involved__meetup text-center">
                    <img src="images 2/logoicon1.png" alt="">
                    <h5>WE DO MEETINGS</h5>
                    <p>We organise our meetings through the OpenCharity</p>
                    <p>Meetup group</p>
                    <button>MEETUP GROUP</button>
                </div>
                <div class="involved__meetup text-center">
                    <img src="images 2/logoicon2.png" alt="">
                    <h5>WE DO MEETINGS</h5>
                    <p>We organise our meetings through the OpenCharity</p>
                    <p>Meetup group</p>
                    <button>MEETUP GROUP</button>
                </div>
                <div class="involved__meetup text-center">
                    <img src="images 2/logoicon3.png" alt="">
                    <h5>WE DO MEETINGS</h5>
                    <p>We organise our meetings through the OpenCharity</p>
                    <p>Meetup group</p>
                    <button>MEETUP GROUP</button>
                </div>
            </div>
        </div>
        <div class="text-center mission">
            <p class="mission__p">OUR MISSION</p>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, ab doloribus? Tenetur</p>
            <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h6>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="text-center mission2 col-md-4 col-sm-12">
                    <i class="fas fa-circle"></i>
                    <h5>We help charities</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elitLorem ipsum dolor sit amet consectetu</p>
                </div>
                <div class="text-center mission2 col-md-4 col-sm-12">
                    <i class="fas fa-circle"></i>
                    <h5>We help charities</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elitLorem ipsum dolor sit amet consectetu</p>
                </div>
                <div class="text-center mission2 col-sm-12 col-md-4">
                    <i class="fas fa-circle"></i>
                    <h5>We help charities</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elitLorem ipsum dolor sit amet consectetu</p>
                </div>
            </div>
        </div>
    </main>
    <footer class="text-center">
        <hr>
        <p>This site was buit as a collaboration between <span>Maifesto Digital </span>and <span>Compucorp</span></p>
    </footer>
</body>
</html>