<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="demo1.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header__top">
            <a href="#" class="header__logo">
                <img src="" alt="">Open Charity
            </a>
            <nav class="header__nav">
                <ul class="header__nav--ul">
                    <li class="nav">
                        <a href="#" class="nav__item">ABOUT OPEN CHARITY</a>
                    </li>
                    <li class="nav">
                        <a href="#" class="nav__item">THE BLOG</a>
                    </li>
                    <li class="nav">
                        <a href="#" class="nav__item nav__item--btn">JOIN US</a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="header__banner">
            <h1 class="header__banner--h1">SHARING IDEAS FOR CHARITIES</h1>
            <p class="header__banner--p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati praesentium veniam quibusd iusto dignissimos aliquid.</p>
            <p class="header__banner--p">am? Eius nobis libero tempore voluptate sed quia asperiores voluptas debitis quod reiciendis, amet, temporibus, earum</p>
            <h5 class="header__banner--h5">together we can make a bigger difference</h5>
        </div>

    </header>
    <main>
        <div class="product product--style-1">
            <div class="product--title__elemeent"></div>
        </div>
    </main>
    <footer></footer>
</body>
</html>