#testimonial {
    width: 100%;
    padding: 70px 0;
}
.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonal-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    c
}
.testimonial-col p {
    font-size: 14px;
}
.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info .bi {
    margin-left: 10px;
    font-size: 20px;
}
