.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media screen and (max-width:500px) {
    .col-2, .col-8 {
        width: 100%;
    }
}
header {
    background-color: coral;
    width: 100%;
    height: 100px;
}
.a1 {
    background-color: white;
    display: inline;
    margin: 10px;
    padding: 10px;

}
ul {
    line-height: 100px;
}
main {
    width: 100%;
    height: 500%;
}
p {
    padding: 20px;
}
.phan1 {
    width: 20%;
    height: 500px;
    background-color: rgb(153, 221, 221);
    float: left;
}
.phan2 {
    width: 60%;
    height: 500px;
    background-color: rgb(186, 119, 219);
    float: left;
}
.phan3 {
    width: 20%;
    height: 500px;
    background-color: rgb(226, 226, 162);
    float: left;
}
footer {
    width: 100%;
    height: 50px;
    background-color: yellowgreen;
    clear: both;
}
@media screen and (max-width:500px) {
    .phan1 {
        width: 100%;
    }
    .phan2 {
        width: 100%;
    }
    .phan3 {
        width: 100%;
    }
    
}