header {
    background-color: burlywood;
    height: 200px;
}
main {
    background-color: coral;
    height: 500px;
}
aside {
    background-color: cornflowerblue;
    height: 500px;
    width: 30%;
    float: left;
}
article {
    background-color: cyan;
    height: 500px;
    width: 70%;
    float: left;
}
footer {
    background-color: darkorange;
    height: 100px;
}
