
main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
}
h5 {
    padding-left: 30px;
}
form {
    background-color: black;
    color: white;
    
}
.col-md-4 img {
    height: 700px;
    width: 100%;
}
.datbao12 {
    margin: 4vmin 0 2vmin 0;
}
.col-md-4 {
    margin: 2vmin 0 2vmin 0;
}
.col-md-12 {
    margin: 1em 2em 1em 2em;
}
.col-md-12 h3 {
    margin: 2em 0 0 2em;
}
.col-md-12 h5 {
    margin: 1em 0em 1em 0em;
} 
.col-md-12 img {
    display: block;
    width: 200px;
    height:130px;
    margin: 1em 0 1em 2em;
    align-items: center; 
} 
.col-md-12 a {
    color: black;
    text-decoration-line: none;
}
.col-md-12 a:hover {
    color: rgb(194, 81, 81);
}
.col-md-12 img:hover {
    opacity: 0.6;
}

