* {
    box-sizing: border-box;
}
.col-md-7 {
    margin: 2em; 
}
.col-md-7 h1 {
    margin: 1em 0 1em 1em;
}
.col-md-7 p {
    text-indent: 10px;
    margin-right: 2em;
}
.col-md-7 h5 {
    text-indent: 10px;
}
.col-md-7 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}
.col-md-7 iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}
/* .col-md-4 {
    margin: 1em 2em 1em 2em;
} */
.col-md-4 {
    margin: 1em 0 1em 1em ;
}
.col-md-4 h3 {
    margin: 2em 0 0 2em;
}
.col-md-4 h5 {
    margin: 1em 0em 1em 2em;
} 
.col-md-4 p {
    margin: 1em 0em 1em 2em;
}
.col-md-4 img {
    display: block;
    width: 350px;
    height: 200px;
    margin: 2em 0 1em 2em;
    align-items: center;
} 
.col-md-4 a {
    color: black;
    text-decoration-line: none;
}
.col-md-4 a:hover {
    color: gray;
}
.col-md-4 img:hover {
    opacity: 0.6;
}
.fab {
    font-size: 30px;
    padding-right: 1em;
    align-items: flex-end;
}