
main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main h1 {
    text-align: center;
}
main h5 {
    padding-left: 30px;
}
main form {
    background-color: black;
    color: white;
    
}
main .col-md-4 img {
    height: 700px;
    width: 100%;
}
main .datbao12 {
    margin: 4vmin 0 2vmin 0;
}
main .col-md-4 {
    margin: 2vmin 0 2vmin 0;
}
main .col-md-12 {
    margin: 1em 2em 1em 2em;
}
main .col-md-12 h3 {
    margin: 2em 0 0 2em;
}
main .col-md-12 h5 {
    margin: 1em 0em 1em 0em;
    box-sizing: border-box;
    
} 
main .col-md-12 img {
    display: block;
    width: 200px;
    height:130px;
    margin: 1em 0 1em 2em;
    align-items: center; 
} 
main .col-md-12 a {
    color: black;
    text-decoration-line: none;
}
main .col-md-12 a:hover {
    color: rgb(194, 81, 81);
}
main .col-md-12 img:hover {
    opacity: 0.6;
}
main .col-md-12 div {
    box-sizing: border-box;
    display: block;
}
@media only screen and (max-width:365px) {
    .col-md-12 div {
        display: flex;
        flex-wrap: wrap;
    }
}

